<div class="fbg">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fbg_resize">
    <div class="col-lg-4 col-md-4  col-sm-6 col-xs-12  col c1 c">
      <h2><span>Image Gallery</span></h2>
      <a href="#"><img src="assets/images/gallery_1.jpg" width="58" height="58" alt="" /></a>
      <a href="#"><img src="assets/images/gallery_2.jpg" width="58" height="58" alt="" /></a>
      <a href="#"><img src="assets/images/gallery_3.jpg" width="58" height="58" alt="" /></a>
      <a href="#"><img src="assets/images/gallery_4.jpg" width="58" height="58" alt="" /></a>
      <a href="#"><img src="assets/images/gallery_5.jpg" width="58" height="58" alt="" /></a>
      <a href="#"><img src="assets/images/gallery_6.jpg" width="58" height="58" alt="" /></a>
    </div>
    <div class="col-lg-4 col-md-4  col-sm-6 col-xs-12  col c2">
      <h2><span>Lorem Ipsum</span></h2>
      <p>Lorem ipsum dolor<br /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
        Cras id urna. <a href="#">Morbi tincidunt, orci ac convallis aliquam</a>, lectus turpis varius lorem, eu posuere
        nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci
        ut diam.</p>
    </div>
    <div class="col-lg-4 col-md-4  col-sm-6 col-xs-12  col c3">
      <h2><span>Contact</span></h2>
      <p>Nullam quam lorem, tristique non vestibulum nec, consectetur in risus. Aliquam a quam vel leo gravida gravida eu porttitor
        dui. Nulla pharetra, mauris vitae interdum dignissim, justo nunc suscipit ipsum. <a href="#">mail@example.com</a><br
        />
        <a href="#">+1 (123) 444-5677</a></p>
    </div>
    <div class="clr"></div>
  </div>
  <div class="footer">
    <p class="lf">&copy; Copyright <a href="#">http://ngbuddies.com</a>.</p>
    <p class="rf"> <a href="https://github.com/ngbuddies/angular2bp" target="_blank">Download SourceCode of this Website</a></p>

  </div>
  <div class="clr"></div>
</div>